body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgb(190, 187, 185);
}

.header {
  color: #040404;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #0c0c0c;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 10px;
  margin: 10px 0;
}

input {
  padding: 15px 20px;
  font-size: 15px;
  border: 2px solid #0b0b0b;
  border-radius: 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
button:focus {
  border-color: #0066ff;
  outline: 2px solid #66a3ff;
  outline-offset: 2px;
  box-shadow: 0 0 5px #66a3ff;
}

button {
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}


.btn-save {
  background-color: #0066ff;
  color: white;
}

.btn-save:hover {
  background-color: #004bb5;
}

.btn-cancel {
  background-color: #ddd;
  color: #333;
}

.btn-cancel:hover {
  background-color: #bbb;
}

.btn-edit {
  background-color: #28a745;
  color: rgb(7, 7, 7);
  margin-left: 20px;
  font-size: 10px;
  border-radius: 10px;
}

.btn-edit:hover {
  background-color: #19672b;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  margin-left: 50px;
  font-size: 10px;
  border-radius: 10px;
}

.btn-delete:hover {
  background-color: #a71d2a;
}

.btn-add {
  background-color: #005ca2;
  color: white;
}

.btn-add:hover {
  background-color: #097bbd;
}